<div class="flex justify-center items-center min-h-screen bg-white">
  <div class="bg-primary-100 rounded-lg shadow-lg p-6 w-full max-w-md">
    <div class="mb-4">
      <h1
        class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-primary-500 text-center"
      >
        Email Verification
      </h1>
    </div>

    <div class="space-y-6">
      <!-- Loading State -->
      <div
        *ngIf="verificationStatus === 'loading'"
        class="flex flex-col items-center"
      >
        <div
          class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-500 mb-4"
        ></div>
        <p class="text-gray-700">Verifying your account...</p>
      </div>

      <!-- Success State -->
      <div *ngIf="verificationStatus === 'success'" class="text-center">
        <div class="text-green-500 mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-12 h-12 mx-auto"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.208Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          Your account has been successfully verified.
        </h3>
        <a
          routerLink="/user/login"
          class="font-medium text-secondary-400 hover:underline"
          >Go to Login</a
        >
      </div>

      <!-- Set password State -->
      <div *ngIf="verificationStatus === 'pending'" class="text-start">
        <p class="text-primary-900 mb-4 text-center">
          Please set your password to complete activation.
        </p>
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="space-y-6"
          novalidate
        >
          <!-- PASSWORD -->
          <div class="mb-1">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-primary-400"
            >
              Your password
            </label>
            <div class="relative">
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                name="password"
                formControlName="password"
                minlength="8"
                required
                autocomplete="new-password"
                class="input w-full border p-2"
                (input)="evaluatePasswordStrength(password?.value)"
                placeholder="Your password"
              />

              <button
                type="button"
                (click)="togglePasswordVisibility('password')"
                class="absolute right-2 inset-y-0 flex items-center text-primary-400 hover:text-primary-600 transition-colors duration-200 cursor-pointer"
              >
                <svg
                  *ngIf="!showPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
                <svg
                  *ngIf="showPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a10.058 10.058 0 012.93-4.177M6.707 6.707a9.958 9.958 0 015.293-1.707c4.477 0 8.268 2.943 9.542 7a10.05 10.05 0 01-1.544 3.054M3 3l18 18"
                  />
                </svg>
              </button>
            </div>
            <p
              *ngIf="
                password?.invalid && (password?.dirty || password?.touched)
              "
              class="mt-1 text-xs text-red-500"
            >
              <span *ngIf="password?.errors?.['required']">
                Password is required.
              </span>
              <span *ngIf="password?.errors?.['invalidPassword']">
                Password must be at least 8 characters long and contain at least
                one letter and one number.
              </span>
            </p>

            <div *ngIf="!password?.invalid">
              <div
                style="
                  width: 100%;
                  height: 8px;
                  background: #eee;
                  border-radius: 4px;
                  overflow: hidden;
                "
              >
                <div
                  [style.width.%]="(passwordStrengthScore / 4) * 100"
                  [style.background]="getStrengthColor(passwordStrengthScore)"
                  style="height: 100%; transition: width 0.3s"
                ></div>
              </div>
            </div>
          </div>

          <!-- CONFIRM PASSWORD -->
          <div class="mb-1">
            <label
              for="confirmPassword"
              class="block mb-2 text-sm font-medium text-primary-400"
            >
              Confirm password
            </label>
            <div class="relative">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                id="confirmPassword"
                name="confirmPassword"
                formControlName="confirmPassword"
                minlength="8"
                required
                autocomplete="new-password"
                class="input w-full border p-2"
                placeholder="Confirm password"
              />

              <button
                type="button"
                (click)="togglePasswordVisibility('confirmPassword')"
                class="absolute right-2 top-1/2 transform -translate-y-1/2 text-primary-400 hover:text-primary-600 transition-colors duration-200 cursor-pointer"
              >
                <svg
                  *ngIf="!showConfirmPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
                <svg
                  *ngIf="showConfirmPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a10.058 10.058 0 012.93-4.177M6.707 6.707a9.958 9.958 0 015.293-1.707c4.477 0 8.268 2.943 9.542 7a10.05 10.05 0 01-1.544 3.054M3 3l18 18"
                  />
                </svg>
              </button>
            </div>
            <p
              *ngIf="
                confirmPassword?.invalid &&
                (confirmPassword?.dirty || confirmPassword?.touched)
              "
              class="mt-1 text-xs text-red-500"
            >
              <span *ngIf="confirmPassword?.errors?.['required']">
                Password is required.
              </span>
              <span *ngIf="confirmPassword?.errors?.['passwordMismatch']">
                Passwords do not match.
              </span>
            </p>
          </div>

          <button
            type="submit"
            [disabled]="form.invalid || waitingResponse"
            class="w-full disabled:bg-primary-400 text-white bg-secondary-500 hover:bg-secondary-400 focus:ring-4 focus:outline-none focus:ring-secondary-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Submit
          </button>
        </form>
      </div>

      <!-- Error State -->
      <div *ngIf="verificationStatus === 'error'" class="text-center">
        <div class="text-red-500 mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-12 h-12 mx-auto"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          Verification Failed
        </h3>
        <a
          routerLink="/user/register"
          class="font-medium text-secondary-400 hover:underline"
        >
          Sign up
        </a>
        <p class="text-gray-600">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
