@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input {
    @apply w-full rounded-xl border border-primary-300 bg-white p-2
    text-text-700 focus:outline-none focus:ring-2 focus:ring-primary-300;
  }
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px theme("colors.white") inset !important;
    -webkit-text-fill-color: theme("colors.black") !important;
    caret-color: theme("colors.white") !important;
  }
  input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px theme("colors.primary.300") inset !important;
  }
}

.datepicker-dropdown,
.datepicker-dropdown * {
  background-color: var(--color-primary-600) !important;
  color: white !important;
}

.datepicker-cell:hover {
  background-color: var(--color-primary-600) !important;
  color: white !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
